
.breadcrumps .link-item {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: #8a8a8a;
    padding-left: 5px;
    position: relative;
}
.breadcrumps .link-item:first-child {
    padding-left: 0;
}
@media (min-width: 992px){
    .article-comment-form .btn-submit {
        margin: 12px auto 0 0;
        width: auto;
        padding: 12px 30px;
        display: block;
        margin-bottom: 14px;
        -ms-flex-item-align: baseline;
        align-self: baseline;
        font-size: 12px;
    }
    .breadcrumps {
        margin-bottom: 44px;
    }
    .breadcrumps .link-item {
        font-size: 18px;
        line-height: 22px;
    }
}
.cat-title {
    font-size: 14px;
}

.cat-title a {
    color:#1d1b28;
}
.post-title {
    margin-top:10px;
}
.post-title a {
    margin-top:10px;
    font-size: 16px;
    font-weight: 700;
    color: black;
}
.footer-creds {
    font-size: 12px;
    margin-top: 10px;
}
.post-item {
    margin-top:30px;
}
.sidebar {
    padding-left: 50px;
    padding-right: 50px;
    background-color: #f9f9f9;
    padding-bottom:200px;
}

@media (max-width: 600px) {
    .sidebar {
        margin-top: 20px;
        padding-top: 50px;
    }
    .popular .title {
        font-size:16px;
    }
    .p-5 {
        padding: 10px !important;
    }
    .popular-link {
        display: block;
    }
}
.article-comment-form {
    margin-top: 60px;
}
.article-comment-form .form-header {
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #1e1e1e;
    line-height: 120%;
    background-color: transparent;
    text-align: initial;
    font-size: 18px;
    margin-bottom: 16px;
}
.article-comment-form .form-control, .article-comment-form textarea {
    background: #fff;
    border: 1px solid #e0e0e0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 2px;
    display: block;
    margin: 0 auto;
    font-size: 12px;
    line-height: 120%;
    color: #1e1e1e;
}
.btn-black {
    background-color: #1e1e1e;
    color: #fff;
}
.article-comment-form .btn-submit {
    margin: 12px auto 0;
    width: 100%;
    padding: 12px 0;
    display: block;
    margin-bottom: 14px;
    -ms-flex-item-align: baseline;
    align-self: baseline;
    font-size: 12px;
}
.btn:not(.dropdown-toggle) {
    width: 100%;
    font-family: Gilroy,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: .04em;
    text-transform: uppercase;
    -webkit-transition: .3s;
    transition: .3s;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 7px!important;
    padding: 26px 0 27px;
}
@media (min-width:1200px){
    .article-comment-form .form-control, .article-comment-form textarea {
        font-size: 14px;
    }
    .article-comment-form .form-header {
        font-size: 22px;
    }
    .article-comment-form .btn-submit {
        font-size: 16px;
    }
    .article-comment-form .form-group label {
        font-size: 16px;
    }
    .article-comment-form .form-control, .article-comment-form textarea {
        font-size: 14px;
    }
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.boxesWrap img {
    border: 0.5px dotted grey;
}